/*
 * 左侧边栏样式
 * */
@import "libs/meta.css.scss";

.left-sidebar {
  display: inline-block;
  float: left;
  height: 100%;

  .sidebar-title {
    padding: 12px 8px;
    border-bottom: 1px solid #DDD;
    h3 {
      margin: 0;
    }
    i {
      font-size: 18px;
    }
  }
  .sidebar-return {
    cursor: pointer;
  }

  .icons-bar, .side-details {
    float: left;
    border-right: 1px solid #CCC;
  }
  .icons-bar {
    width: 47px;
    background-color: #333;
    color: white;
    z-index: 100;
    position: absolute;
    left: -47px;
    text-align: center;
    .icon-item {
      margin-top: 10px;
      font-size: 13px;
      i {
        color: white;
        font-size: 30px;
        cursor: pointer;
        display: block;
      }
      &.chosen {
        background: #555;
      }
    }
  }
  .icons-bar-placeholder {
    width: 47px;
    height: 500px;
  }
  .side-details {
    width: $side_details_width;
    position: relative;
    display: none;
    .side-detail {
      background: white;
      width: $side_details_width;
      height: 100%;
      float: left;
    }
    #articles_bar {
      left: 0;
      z-index: 9;
      position: absolute;
    }
    #tags_bar {
      left: -$side_details_width;
      z-index: 10;
      position: absolute;
    }
    .mask {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: white;
      opacity: 0.5;
      filter: alpha(opacity=50);
      display:none;
      z-index: -5;
    }
  }
  a.side-post {
    display: block;
    border-bottom: 1px solid #DDD;
    padding: 8px;
    .side-post-title {
      margin: 0 0 8px 0;
    }
    .side-post-abstract {
      height: 66px;
      line-height: 22px;
      overflow: hidden;
      font-size: 12px;
    }
    &:hover {
      background: #DDD;
      color: white;
    }
  }
  a.side-tag {
    display: block;
    border-bottom: 1px solid #DDD;
    padding: 10px;
    .side-tag-name, .side-tag-count {
      display: inline-block;
    }
    .side-tag-name {
      float: left;
    }
    .side-tag-count {
      float: right;
    }
  }
}
