/* css for forms */
form {
  width: 800px;
  margin: 0 auto;
  label {
    font-size: 13px;
    display: block;
  }
  .field {
    margin-bottom: 10px;
    input[type=number], input[type=text], textarea {
      width: 100%;
      line-height: 26px;
      font-size: 13px;
      border: 1px solid #DDD;
      border-radius: 4px;
    }
    input[type=submit] {

    }
    textarea {
      height: 500px;
    }
  }
  .back-link {
    color: #999;
    font-size: 12px;
    margin-left: 10px;
    &:hover {
      color: #111;
    }
  }
}

