/* Post相关的样式 */
.show-post {
  .post-content {
    line-height: 1.9em;
    font-size: 0.95em;
  }
  .post-extra {
    font-size: 0.88em;
    line-height: 24px;
    i {
      margin-right: 5px;
    }
    span, div {
      color: #888;
    }
    .post-date {
      margin-right: 8px;
    }
  }
}
