/* 
 * 共享样式 
 */
@import "libs/meta.css.scss";

body {
  padding: 0;
  margin: 0;
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  background: white;
}
p {
  color: $deep_gray;
}
h1 {
  color: $deep_gray;
}
h2 {
  color: $deep_gray;
}
h3 {
  color: $deep_gray;
}
h4 {
  color: $deep_gray;
}
h5 {
  color: $deep_gray;
}
h6 {
  color: $deep_gray;
}
div {
  color: $deep_gray;
}
a {
  color: $deep_gray;
  text-decoration: none;
}
.clear {
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.hidden {
  display: none;
}
/* main page style */
.main-container {
  width: 1200px;
  margin: 0 auto;
}
.main-title {
  padding: 15px 0;
  text-align: center;
  background-color: #333;
  h3 {
    margin: 0;
    color: white;
    font-weight: normal;
  }
}
.main-content {
  padding: 15px 20px;
  border-left: 1px solid #DDD;
}
.btn {
  background-color: transparent;
  border: 1px solid #DDD;
  display: inline-block;
  color: #666;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  &:hover {
    background-color: #666;
    color: white;
  }
}
.notice {
  padding: 10px 14px;
  border-radius: 4px;
  margin: 10px 20px 0 20px;
  background-color: #5cb85c;
  color: white;
}

